<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Surveyor</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='surveyor.css') }}">
</head>
<body>

  <div class="container">
 
    <div class="row">
      <div class="four columns">
        <h1><a href="{{ url_for('index') }}">Surveyor</a></h1>
      </div>

      <div class="five columns">
        <div class="row u-pull-right" id="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          <ul class="messages">
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% else %}
          &nbsp;
          {% endif %}
        {% endwith %}
        </div>
      </div>
      
      <div class="three columns">
        <div class="row u-pull-right" id="authentication">
          {% if current_user.is_authenticated() %}
          Logged in as {{ current_user.name_or_id() }}<br>
          <a href="{{ url_for('logout') }}">Log out</a>
          {% else %}
          Not logged in<br>
          <a href="{{ url_for('login') }}">Log in</a> • <a href="{{ url_for('register') }}">Register</a>
          {% endif %}
        </div>
      </div>
  
    </div>
  </div>

  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('index') }}">Help+About</a></li>
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('list_open_surveys') }}">Open Surveys</a></li>
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('list_closed_surveys') }}">Closed Surveys</a></li>
        {% if current_user.is_active() %}
          <li class="navbar-item"><a class="navbar-link" href="{{ url_for('account', id=current_user.id) }}">My Account</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  
  {% if current_user.is_active() %}
    {% if current_user.is_admin == 1 %}
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('add_survey') }}">Add New Survey</a></li>
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('list_draft_surveys') }}">Draft Surveys</a></li>
        <li class="navbar-item"><a class="navbar-link" href="{{ url_for('list_users') }}">Registered Users</a></li>
      </ul>
    </div>
  </nav>
    {% endif %}
  {% endif %}

  <br>
  <div class="container">
  
    <h3>{% block title %}{% endblock %}</h3>

    {% block body %}{% endblock %}
  
  </div>

  <script src="{{ url_for("static", filename="jquery-1.11.3.min.js") }}"></script>
  {% block javascript %}{% endblock %}
  
</body>
  
</html>
