<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Surveyor</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='skeleton.css') }}">
</head>
<body>
  <div class="container">

    <div class="row">
      <h1>Surveyor</h1>
    </div>
  
    <div class="row">
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>

    <div class="row" id="messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <ul class=flashes>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    </div>

    {% block body %}{% endblock %}
  
  </div>
</html>