{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<form method="POST" action="{{ url_for('login') }}">
  
  {{ form.csrf_token }}

  <div class="row">
    {{ form.email.label }}
    {% if form.errors['email'] %}
      {% for error in form.errors['email'] %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    {% endif %}
    {{ form.email(class="required") }}
  </div>

  <div class="row">
    {{ form.password.label }}
    {% if form.errors['password'] %}
      {% for error in form.errors['password'] %}
        <div class="error">{{ error }}</div>
      {% endfor %}
    {% endif %}
    {{ form.password(class="required") }}
  </div>

  <div class="row">
    <input type="submit" name="submit" value="Go"/>
  </div>
  
</form>
{% endblock %}